
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.skills {
  margin-top: 35%;
 
  &__header {
    font-family: $secondary-font;
    color: $secondary-color;
    padding-bottom:  10%;
  }
  &__circles { 
    margin-top: 20%;

  }

  &__icons{

   width: 50vh;
   margin: auto;
   border: 2px saddlebrown solid;
 

  }
}

@media screen  and (min-width: $medium-screen-width) {

.skills {
 
 height: 90vh;
//  border: black 3px solid;
 width: 100%;
margin-left: 15%;


 
  
  &__header {
    font-family: $secondary-font;
    color: $secondary-color;
    padding-bottom:  10%;
    font-size:xxx-large;
    // border: solid 2px brown;
  
 
   
  }

  .content {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    
  
  
  &__circles { 
    margin-top: 20%;
   
  

  }

  &__icons {
   width: 50vh;
   margin: auto;
   
 

  }
}
}
 


@media screen and (min-width: $large-screen-width) {
  .skills {
    margin-top: 33%;
    height: 70vh;

    &__header { 
      font-size: 60px;
    }
   


    .content {
      margin-left: 0;
   
    }
    
   
     }


}}

@media screen and (min-width: $laptop-screen-width) {
  .skills {
    margin-top: 13%;
    
    margin-left: 0%;
    height: 90vh;
 
  
    &__header { 
      font-size: 60px;
      padding-bottom: 2%;
    }
    &__card {
      display: flex;
      justify-content: center;
 
    }
   


    .content {
      margin-left: 0;
      width: 70%;
      transform: scale(1.1);
     
      height: 40vh;
     
    
    }
    
     }


}