
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.skills {
  margin-top: 35%;
 
  &__header {
    font-family: $secondary-font;
    color: $secondary-color;
    padding-bottom:  10%;
  }
  &__circles { 
    margin-top: 20%;

  }

  &__icons{

   width: 50vh;
   margin: auto;
   border: 2px saddlebrown solid;
 

  }
}

@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {

.skills {
  margin-top: 43%;
  &__header {
    font-family: $secondary-font;
    color: $secondary-color;
    padding-bottom:  10%;
    font-size:xxx-large;
    margin-left: 15%;
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;
  
  }
  &__circles { 
    margin-top: 20%;

  }

  &__icons{

   width: 50vh;
   margin: auto;
   border: 2px saddlebrown solid;
 

  }
}
 


}

