
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.skills {
  margin-top: 35%;
 
  &__header {
    font-family: $secondary-font;
    color: $secondary-color;
    padding-bottom:  10%;
  }
  &__circles { 
    margin-top: 20%;

  }

  &__icons{

   width: 50vh;
   margin: auto;
   border: 2px saddlebrown solid;
 

  }
}


