
@use "../../assests//variables" as *;
.about {
  margin-top: 85%;

  &__header{
    margin: 10px;
  }
  &__content {
    width: 83%;
     border: $secondary-color 1px solid;
     border-radius: 15px;
     margin: auto;
     padding: 10px 5px 5px 10px;
     margin-top: 6%;
  
  }
}
@media  screen and (min-width: $small-screen) {
  .about {
    margin-top: 40%;
    height: 80vh;
  }
  
}
@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {


  .about {

  margin-left: 20%; 
    height: 80vh;
   
  
    &__header{
      font-size:xxx-large;
      padding-bottom: 10%;
     
       


    }

    &__main{
      display: flex;
      width: 800px;
      justify-content: space-between;
      align-items: center;
     
 
    }
    &__content {
      width: 58%;
      height: 60vh;
       border: $secondary-color 3px solid;
       box-shadow: 20px 10px 10px $secondary-color;
       border-radius: 15px;
       margin: auto;
       padding: 10px 5px 5px 10px;
       margin-top: 16%;
       font-size: 30px;
       margin-bottom: 10%;
      
       
  
    }
  }
}
 
@media screen and (min-width: $large-screen-width) {

  .about {
   margin-top: 30%;
   height:100vh;

    &__header {
      font-size: 60px;
      

    }

    &__main{

     width: 110%;
     
    }

    &__content {
      width:70%;
      margin-left: 20%;
      font-size: 31px;
      height: 50vh;
      padding-left: 5%;
      padding-right: 5%;
    }

  }

}

@media screen  and (min-width: $laptop-screen-width) {
  .about {

  margin-top: 20%;
  height: min-content;

  margin-left: 0%; 

  &__header {
    margin-bottom: 0;
    height: 5px;
 
    

  }
 

  &__main{
    margin-top: 0;
    padding-top: 0;
    width: 90%;
    padding-left: 10%;
    
   }

   &__content {
     margin-top: 100px;
     width:45%;
     margin-left: 20%;
     font-size: 31px;
     height: fit-content;
  
   }

  }

}