
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;



.projects {
  margin-top: 35%;
  height: 100vh;
  &__instruction {
    margin-top: 0%;


  }
 
}


@media screen and (min-width: $small-screen) {
  .projects {
    margin-top: 40%;
 

   
   
  }



  
}