
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.project-circles {
  margin-top: 5%;
  height: auto;


  &__img {
    height: 100px;
    width: 110px;
    margin-top: 4%;
    margin-bottom: 6%;
  }
}

@media screen and (min-width: $small-screen) {

.project-circles {


  &__img {
    height: 120px;
    width: 130px;
    margin-top: 4%;
  }
}


  
}


@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {
  .project-circles {
    margin-top: 20%;
  
  
  
    &__img {
      height: 170px;
      width: 180px;
      margin-top: 4%; 

    }
  }


}