
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.project-circles {
  margin-top: 5%;
  height: auto;
  width: auto;
  padding: 10px 10px;
 


  &__img {
    height: 100px;
    width: 110px;
    margin-top: 4%;
    margin-bottom: 6%;
  }

    &__description {
     font-size: 10px;

    }
    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__icon {
      transform: scale(0.5);
    }
  
}

@media screen and (min-width: $small-screen) {

.project-circles {


  &__img {
    height: 120px;
    width: 130px;
    margin-top: 4%;
  }
}


  
}


@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {
  .project-circles {
    margin-top: 20%;
    width: 400px;
    height: 350px;

  
  
  
    &__img {
      height: 170px;
      width: 180px;
      margin-top: 4%; 

    }
  }


}


@media screen and (min-width: $large-screen-width) {
  .project-circles {
    margin-top: 20%;
    height: 400px;
  
  
  
    &__img {
      height: 230px;
      width: 240px;
      margin-top: 4%; 

    }
  }


}

@media screen  and (min-width: $laptop-screen-width) {
  .project-circles {
    margin-top: 5%;
    height:500px;
    width: 600px;
    
    
  
  
  
    &__img {
      height: 200px;
      width: 220px;
      margin-top: 0%; 
      margin-bottom: 2%;

    }
    &__description {
      font-size: 20px;
  }


}}