
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.project-circles {
  height: auto;


  &__img {
    height: 100px;
    width: 110px;
    margin-top: 4%;
  }
}

@media screen and (min-width: $small-screen) {

.project-circles {


  &__img {
    height: 120px;
    width: 130px;
    margin-top: 4%;
  }
}


  
}
