
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;



.Home {
  margin-top: 40%;
  // height: 100vh;
  // // width: 100%;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;
  // // color: $secondary-color;

  &__circles {
    // margin-top: 50%;
  }


  &__section {
  height: 30vh; 
  width: 90%;
  margin: auto;
  margin-top: 0;
  font-family: $secondary-font;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
  &__header {  
    
    font-size: 17px;
}
&__CTA {
 
    font-size: 14px;
    height: 30%;
    width: 35%;
    // border: $secondary-color 2px solid;
    // border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 10%;
    font-family: $secondary-font;
    color: $secondary-color;
    
    

  
  }

}

@media screen  and (min-width:$small-screen){

  .Home {


    &__header {  
      margin-top: 10%;
      font-size: 19px;
  }
  &__CTA {
    font-size: 16px;
  }

  }

  
}


@media screen  and (min-height:812px) {

.Home {
  margin-top: 60%;
  &__header {  
    margin-top: 15%;
    font-size: 21px;
}
&__CTA {

  font-size: 17px;
}

}


  
}


@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {
  .Home {
    align-self: center;
    width: 100%;
    margin:auto;
    display: flex;
    height: 60vh;
    justify-content: flex-start;
    align-items: center;
    margin-top: 37%;
    margin-left: 20%;
    

    &__header {  
      margin-top: 110%;
      font-size: 30px;
  }
  &__CTA {
    margin-top: 40%;
    font-size: 22px;
  }
  &__arrow {
    transform: scale(1.25);
  }
  
  }


  
}
