
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;



.Home {
  margin-top: 40%;
  // height: 100vh;
  // // width: 100%;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;
  // // color: $secondary-color;

  &__circles {
    // margin-top: 50%;
  }


  &__section {
  height: 30vh; 
  width: 90%;
  margin: auto;
  margin-top: 0;
  font-family: $secondary-font;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
  &__header {  
    
    font-size: 17px;
}
&__CTA {
 
    font-size: 14px;
    height: 30%;
    width: 35%;
    // border: $secondary-color 2px solid;
    // border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 10%;
    font-family: $secondary-font;
    color: $secondary-color;
   

  }
  &__arrow {
   
    animation-name: arrow;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    height: 70px;


    @keyframes arrow {
      0% { transform: translateY(0);}
      50% { transform: translateY(30px);}
      100% { transform: translateY(0);}
    }
  }
  

}

@media screen  and (min-width:$small-screen){

  .Home {


    &__header {  
      margin-top: 10%;
      font-size: 19px;
  }
  &__CTA {
    font-size: 16px;
  }

  }

  
}


@media screen  and (min-height:812px) {

.Home {
  margin-top: 60%;
  &__header {  
    margin-top: 15%;
    font-size: 21px;
}
&__CTA {

  font-size: 17px;
}

}


  
}


@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {
  .Home {
    margin-top: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20%;
    padding-bottom: 30%;
    margin-left: 15%;

    

 
   
    

    &__header {  
      margin-top: 110%;
      margin-left: 30%;
      font-size: 30px;
      width: 400px;
  }
  &__CTA {
    margin-top: 40%;
    font-size: 22px;
  }
  &__arrow {
    transform: scale(1.25);
    
 
  }

 
  .containers {
    width: 100%;
  }

  }}



@media screen and (min-width: $large-screen-width) {
  .Home {
    height: 80vh;
    

    &__header {  
      margin-top: 130%;
      font-size: 40px;
  }
  &__CTA {
   
    font-size: 32px;
  }
  &__arrow {
    transform: scale(1.25);
   
  }
  
  
}

@media screen  and (min-width: $laptop-screen-width) {
  .Home {
    margin-top: 10%;
    margin-left: 0%;
    height: 50vh;
    width:80vw;
    align-items: center;
    justify-content: space-between;


    &__header {  
      margin-top: 70%;
      font-size: 36px;
      width: 600px;
  }
  &__CTA {
    margin-top: 30%;
    margin-left: 25%;
    font-size: 25px;
  }
  &__arrow {
  
    margin-left: 25%;
   
  }
    



  }

}
}

// @media screen  and (min-width: $laptop-screen-width) {
//   .Home {
//     margin-top: 20%;
//     width: 80%;
//     border: 2px green solid; 
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;
 
//     margin-left: 60px;
//     padding: 0px 0px;
   
    

//     &__section {
     
    
      
      
//       height: 35vh;
//     }

//     &__header {  
   
//       font-size: 37px;
//       text-align: left;
//       line-height: 50px;
//   }
//   &__CTA {
//     margin-top: 20%;
//     margin-bottom: 1%;
//     padding-bottom: 1%;
//     width: 200px;
    
//     font-size: 22px;
//   }
//   &__arrow {
//     transform: scale(1);


 
//   }

 


  
  
