@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.contact {

margin-top: 43%;


&__header {
  margin-bottom: 10%;
}


&__sub-heading {
  margin-top: 6%;
  margin-bottom: 3%;
  padding-top: 5%;

}


&__icons {
  height: 30%;
  padding-bottom: 30%;
}


&__icon {
  padding: 10px;
  height: auto;
}
&__icon:hover {
  transform: scale(0.6);
}

}


@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {

  .contact {
    font-size: xx-large;
    height: 100vh;
    

    &__header{
      font-size:xxx-large;
      margin-left: 15%;
      
     }
  
   
    
    
    &__card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      // border: black 2px solid;
      height: 70vh;
      width: 690px;
      margin-left: 18%;
     
    }

    &__email {
      margin-left: 5%;
    }

 


  
    

  }  }