@use "../../assests/variables" as *;
@use "../../assests/typ" as *;


.contact {

margin-top: 43%;


&__header {
  margin-bottom: 10%;
}
&__info {

}

&__sub-heading {
  margin-top: 6%;
  margin-bottom: 3%;
  padding-top: 5%;

}


&__icons {
  height: 30%;
  padding-bottom: 30%;
}


&__icon {
  padding: 10px;
  height: auto;
}
&__icon:hover {
  transform: scale(0.6);
}

}


@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {

  .contact {

  height: 100vh;
    font-size: xx-large;

    

    &__header{
      font-size:xxx-large;
      margin-left: 20%; 
     
      
     }
  
   
    
    
    &__card {
      display: flex;
      justify-content: space-around;
      align-items: center;
    
      height: 80vh;
    
     
    }

    &__email {
      // margin-left: 5%;
    }

 


  
    

  }  }


  @media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) { 


  .contact {
    &__card {
     
      width: 970px;
  
     }

     &__info {

      transform: scale(1.4);
     }

     &__icons {
       margin-top: 10%;
     }
  
 }
  
}


@media screen and (min-width: $large-screen-width) {

  .contact {

    &__header {
      font-size: 60px;
      margin-left: 21%; 

    }
    &__card {
     
    
     margin-left: 12%;
  
     }

     &__info {

      transform: scale(1.3);
     }

    
  
 }


}

@media screen and (min-width: $laptop-screen-width) {
  .contact {
    margin-top: 10%;
    height: 85vh;
    
    &__header {
      margin-left: 0%; 

    }
    &__complete {
      display: flex;
      justify-content: center;
      margin-top: 0;
      
    }

          
    &__card {
      margin-left: 0;
    
      height: 400px;
    
     
    }
    &__info {
      transform: scale(1);


    
     }
    }
  }


