
@use "../../assests/variables" as *;
@use "../../assests/typ" as *;
.teck-stack {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 30vh;
  width: 100%;
  padding-top: 3%;
  gap: 1px;
  justify-content: space-evenly;

 

  &__icon {
    height: 50%;
    width: auto;
    margin-top: 10px;
    border-radius: 10%;
    
    
   
  }
  &__icon:hover {
    height: 70%;
    box-shadow: 10px 10px 15px rgb(27, 4, 109);
  }

}