@use "../../assests/variables" as *;
@use "../../assests/typ" as *;

*{
  padding: 0;
  margin: 0;
}

.nav {
  height: 6.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $tertiary-color;
  position: fixed;
  flex-wrap: wrap;
  width: 100%;
  top: 0px;
  z-index: 2;


  

  &__logo {
    font-family: $primary-font;
    color: $tertiary-color; 
    font-size: 20px;
    margin-left: 10px;

  }
  
  &__menu-image {
  margin-right: 30px;
}



}
@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {
  .nav {
   position: fixed;
  top: 0px;
  flex-wrap: wrap;
  width: 100%;

  
    
  


  
    &__logo {
      font-family: $primary-font;
      color: $tertiary-color; 
      font-size: 30px;
      margin-left: 2%;

  
    }
    
    &__menu-image {
    margin-right: 5%;
    transform: scale(1.4);
   

  }
}


}

@media screen and (min-width: $large-screen-width) {

.nav {
  height: 7.25em;
  
  &__logo {
   font-size: 36px;


  }
  
  &__menu-image {
  margin-right: 5%;
  transform: scale(1.8);

}
}
}


@media screen  and (min-width: $laptop-screen-width) {
  .nav {
    height: 5rem;

    &__logo {
     font-size: 20px;
     margin-left: 2%;
  
  
    }
    
    &__menu-image {
    margin-right: 1%;
    transform: scale(0.8);
  
  }
  }
  }
  
