@use "../../assests/variables" as *;
@use "../../assests/typ" as *;

*{
  padding: 0;
  margin: 0;
}

.nav {
  height: 6.25em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $tertiary-color;
  position: fixed;
  top: 0px;

  

  &__logo {
    font-family: $primary-font;
    color: $tertiary-color; 
    font-size: 20px;
    margin-left: 10px;

  }
  
  &__menu-image {
  margin-right: 30px;
}



}
@media screen  and (min-width: $medium-screen-width), screen and (min-height:$medium-screen-height) {
  .nav {
    position: fixed;
  top: 0px;

  
    
  


  
    &__logo {
      font-family: $primary-font;
      color: $tertiary-color; 
      font-size: 30px;
      margin-left: 2%;

  
    }
    
    &__menu-image {
    margin-right: 5%;
    transform: scale(1.4);

  }
}


}